    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box
    }
    @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
    header{
        height: 121.64px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        box-shadow: 0 2px 0px rgb(228, 225, 225);
        /* position: absolute; */
        width: 100%;
        /* background: white; */
        background-color:#F3F3FD;
        
    }

    ul{
        display: flex;
        column-gap: 40px;
        list-style: none;
        
    }

    a{
        color: #0E0A23;
        text-decoration: none;
        font-size: 14px;
        font-family: "Outfit", sans-serif;
        font-weight: 600;
    }

    .header-img{
        height: 50px;
        width: 110.05px;
    }

    button{
        padding: 14.4px 26px;
        color: white;
        background: #060C3E;
        font-size: 16px;
        font-family: sans-serif;
        border-radius: 50px;
        border: none;
        font-weight: bold;
        cursor: pointer;

    }

    .container{
        display: flex;
        justify-content: center;
        background-color:#F3F3FD;
    }

    .child-container{
        height: 800px;
        width: 580px;
        margin-top: 2%;
       
    }

    .dotted-image{
        height: 150px;
        width: 150px;
        margin-left: 0px;
        position: absolute;
        top: 35%;
        
    }

    .first-img{
        height: 650px;
        width: 500px;
        margin-left: 10%;
        border-radius: 5%;
        border-top-right-radius: 20%;
        position: relative;
        top: 1px;
        z-index: 1;
    }

    .banner-h1{
        font-size: 72px;
        color: #0E0A23;
        font-family: sans-serif;
        
    }

    
    .banner-p{
        width: 450px;
        font-size: 16px;
        padding-top: 25px;
        font-family:"Outfit", sans-serif;
        color:  #000B33;
        font-weight: 520;
        /* line-height: 20px; */
        line-height: 25px;
        /* line-height: 20px 20px; */
        padding-bottom: 5%;

    
    }

    .banner-h2{
        font-size: 25px;
        padding-top: 20px;
        font-weight: bold;
        font-family: sans-serif;
        color: #060C3E;

    }

    .btn{
        padding: 20.4px 46px;
        color: white;
        background: #060C3E;
        font-size: 16px;
        font-family: sans-serif;
        border-radius: 50px;
        border: none;
        font-weight: bold;
        margin-top: 20px;
        cursor: pointer;
    }

.program-review{
    height:100vh;
    width: 100%;
    background: url(./image/enjoy_sound.jpg), hwb(0 0% 100%); 
    background-position:centre;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}

.program-review-page{
    height: 400px;
    width: 85%;
    background: white;
    border-radius:10px;
    text-align: center;
    
}

.program-review-heading{
    padding-top: 7%;
    font-size: 43px;
    font-weight: bold;
    font-family: sans-serif;
    color: #060C3E;
}

.program-review-page-p{
    width: 92%;
    font-size: 16px;
    font-family:"Outfit", sans-serif;
    color:  #000B33;
    font-weight: 500;
    line-height: 25px;
    margin-left: 4%;
    
}

.third-section{
    height: 750px;
    width: 100%;
    background: #F3F3FD;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.third-section-child{
    height: 600px;
    width: 580px;
    background: white;
    
}

.third-section-img{
    /* background: url(./image/wheelchair.avif);
    background-repeat: no-repeat;
    background-size: fill; */

    height:600px;
    width: 580px;
    background: #000000;

}

.dotted-image2{
    height: 120px;
    width: 150px;
    margin-left: 0px;
    position: absolute;
    right: 5%;
    top:-8%;
    
}

.third-section-text{
    
    padding-top: 10%;
    font-size: 42px;
    font-weight: bold;
    font-family: sans-serif;
    color:  #000B33;
    margin-left: 10%;
    line-height: 60px;
}



.third-section-p{
    width:470px;
    font-size: 16px;
    font-family:"Outfit", sans-serif;
    color:  #000B33;
    font-weight: 500;
    line-height: 25px; 
    margin-left: 10%;
}

.third-section-btn{
    margin-left: 10%;
}

.fourth-section{
    height: 700px;
    width: 100%;
    
}

.course-section{
    height: 900px;
    width: 100%;
    background-color:#F3F3FD;
    text-align: center;

}

.course-section-h3{
    padding-top: 5%;
    font-size: 30px;
    font-weight: bold;
    font-family: sans-serif;
    color: #060C3E;
    text-align: left;
    margin-left: 10%;

}

.courses-container{
    display: flex;
    gap: 15px;
    margin-top: 3%;
    margin-left: 10%;
}

.course{
    height: 200px;
    width: 175.31px;
    border: 3px solid  #060C3E;
}

.course-logo{
    height: 51.09px;
    width: 51.09px;
}

.course-h3{
    margin-top: 25%;
    font-size: 25px;
    font-weight: bold;
    font-family: "Outfit", sans-serif;
    color: #060C3E;
    text-align: center;
   
}

.course-p{
    font-size: 15px;
    font-weight: 400;
    font-family: sans-serif;
    color: #060C3E;
    text-align: left;
    margin-left: 10%;
}

.sixth-section{
    height: 900px;
    width: 100%;
}

footer{
    height: 600px;
    width: 100%;
    background: #060C3E;
}

.logo-img-footer{
    margin: 5%;
}

.footer-container{
    display: flex;
    justify-content: center;
}

.footer-child{
    height: 250px;
    width: 380px;
    /* border: 1px solid red; */
}

.footer-p{
    font-size: 16px;
    font-family:"Outfit", sans-serif;
    color: white;
    font-weight: 520;
    line-height: 25px; 
  
}



.footer-link{
    color: white;
    font-size: 16px;
    font-family:"Outfit", sans-serif;
    padding-right: 8%;

}

.footer-link2{
    margin-top: 7%;
}

.footer-link:hover{
    color: #F3F3FD;
}

.icon-container{
    margin-top: 2%;
}

.icon{
    font-size: 25px;
    background: #060C3E;

}

.circled-icon{
    width: 60px;
    height: 60px;
    border: 1.5px solid white;
    border-radius: 50%;
    margin-bottom: 5%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circled-icon2{
    width: 60px;
    height: 60px;
    border: 1.5px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-child3{
    display: flex;
    gap: 15px;
}


hr{
    width: 85%;
    margin-left: 8%;
}

.circled-icon-p{
    font-size: 13px;
    font-weight: 400;
    color: #aeaeb4;
    font-family:"Outfit", sans-serif;
}

span{
    color: white;
    font-size: 20px;
    font-family:"Outfit", sans-serif;
}

.copyright-container{
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.copyright-p{
    color: white;
    font-size: 18px;
    font-family:"Outfit", sans-serif;
}